@import '../common/base.styl'
@import '../common/mixin.styl'
@import '../common/variable.styl'

.checkbox-group 
  display: inline-block;

tr>td,
tr>th 
  border: 1px solid;
  padding: 5px;
  text-align: center;
  vertical-align: middle;

.data-table
  font-size: 18px
